@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rubik:wght@300;400;600;700&display=swap');
*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
}

a{
    color: white;

}
.legal-text:hover{
    opacity: 0.8;
}

body{
    background-color: #0a0b0e;
    overflow-x: hidden;
    line-height: 1.2;
    font-family:  'Roboto', sans-serif;
}

.background-image {
    background-image: url('/Assets/main.jpeg'); 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: right;
    background-size: cover;
    z-index: -1; 
}
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    height: 12vh;
    padding: 2%;
}


.logo{
    height: 100%;
    width: auto;
}

.navbar .logo img{
    height: 100%;
    width: 100%;
}

.logo, .login-btn {
    display: flex; 
    align-items: center;
}

.login-btn button{
    cursor: pointer;
    background: none;
    border: none;
    color: #a8afbd;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content img{
    width:270px;
    margin: 20px;
}

.bundle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.bundle img{
    width: 200px;
}

.bundle-description{
    margin: 5px 0;
}
.bundle-description h4{
    margin: 0
}

.bundle h4{
    margin: 5px 0;
    color: #00d87e;
    text-transform: uppercase;
}

.bundle .header-text{
    font-size: 25px;
    color: white;
    margin: 5px 0;
}

.bundle .btn{
    display: inline-block;
    background-color: #00d87e;
    color: black;
    border: none;
    padding: 10px 80px;
    margin: 10px 0;
    text-transform: uppercase;
    border-radius: 5%;
    font-weight: 600;
    line-height: 14px;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;

}

.bundle .btn:hover{
    opacity: 0.8;
}

.bundle .legal-text {
    font-size: 12px;
}

.legal-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
}
.text{
    font-size: 45px;
    font-weight: bold;
}

.sub-text{
    max-width: 850px;
    margin-bottom: 10px;
    font-size: 15px;
}

/* Categories */

.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16% 40px;
    justify-content: center;
}

.categories .text,.sub-text{
    margin-top: 20px;
}

.text, .sub-text, .cover-text{
    color: white;
}

.categories h4{
    color: #00d87e;
    text-transform: uppercase;
}

.categories .covers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 40px;
    gap: 20px;
    border-radius: 5px;
}

.categories .covers > div{
    height: 450px;
    width: 300px;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.categories .cover-grad{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        156.82deg,
        rgba(0,0,0,0.6) 4.58%,
        rgba(0,0,0,0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0,0,0,0.2) 4.71%, rgba(0,0,0,0) 71.49%)
}

.categories .covers .sub-title{
    font-size: 11px;
}

.categories .cover-text{
    position: absolute;
    top:20px;
    left:20px;
    text-align: left;
}

.categories h3{
    font-weight:lighter;
}

.cover-1{
    background-image: url('/Assets/family-guy.png');
}

.cover-2{
    background-image: url('/Assets/prey.jpeg');
}

.cover-3{
    background-image: url('/Assets/only-murders-in-the-building.png');
}

.cover-4{
    background-image: url('/Assets/the-sopranos.png');
}

/* Live section */
.live-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.live-content h5{
    color: #00d87e;
    font-family:  'Roboto', sans-serif;
    margin-top: -150px;
}

.live-content .btn-live{
    display: inline-block;
    background-color: #00d87e;
    color: black;
    border: none;
    padding: 15px 26px;
    margin: 10px 0;
    text-transform: uppercase;
    border-radius: 3%;
    font-weight: 600;
    line-height: 14px;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
}

.live-content .live-legal-text{
    font-size: 10px;
    color: #a8afbd;
    margin-bottom: 20px;
}

.live-content a{
    color: #a8afbd;
    font-weight: bold;
}
.live-content .sub-text {
    text-align: center;
    max-width: 600px; 
    font-size: 15px;
    margin-top: 20px;
    font-size: 15px;
}

.live-content .live-legal-text{
    text-align: center;
    max-width: 800px;
    margin-top: 20px;
}

.live-content .legal-text{
    margin-bottom: 30px;
}

/* Live sports */

.live-sports{
    background-image: url('/Assets/sports-bg.jpeg');
    height: 800px;
    position: relative;
    background-size: cover;
}

.live-sports-content{
    position:absolute;
    top:160px;
    left:100px;
    max-width: 550px;
}

.live-sports-logo{
    width:300px;
    margin-top:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.live-sports-logo >div{
    background: url('/Assets/network-logo-bg.png') ;
    background-size: cover;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.live-sports-logo img{
    width: 45px;
}

.live-legal-text{
    font-size: 10px;
    color:#a8afbd;
    padding-top: 20px;
    padding-left: 10px;

}
.live-legal-text a{
    color:#a8afbd;
}


/* Toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4e4e4e;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 37px;
    width: 37px;
    left: 0px;
    bottom: 0px;
    background-color: rgb(247, 245, 245);
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #00d87e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00d87e;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
    .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Plan section */
.plan-content-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 40px;
    padding-bottom: 35px;
    margin: 20px;
}

.plan-content-first .plan-subtext{
    color: white;
}

.plan-content-first .text{
    padding-bottom: 20px;
}

.plan-content-first  .plan-sub-text{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.type-of-plan-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.plan .type-of-plan-badge{
    background: #00d87e;
    border-radius: 5%;
    text-transform: uppercase;
    padding: 15px;

}

.type-of-plan-badge-2{
    padding: 32px;
}

.type-of-plan-time{
    color: #686767;
    padding-top: 20px;

}

.type-of-plan-hulu{
    color: white;
    font-weight: bold;
}

.type-of-plan-text-1,.type-of-plan-text-2{
    color: white;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
}
.type-of-plan-text-1{
    padding-bottom: 27px;
}
.hulu{
    width: 50px;
    padding-top: 10px;
}

.hulu-espn{
    width:150px;
}

.type-of-plan-btn{
    display: inline-block;
    background-color: white;
    color: black;
    border: none;
    padding: 9px 80px;
    margin: 9px 0;
    text-transform: uppercase;
    border-radius: 5%;
    font-weight: 580;
    line-height: 14px;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer; 
}

.monthly-plan{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px ;
    margin:10px 5;
    gap:300px;
    color: white;
    font-size: 15px;
}

.plan-content .divider{
    margin:20px 0;
    color: #928f8f;
}

.streaming-library{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px ;
    margin:5px 0;
    gap:310px;
    color: white;
    font-size: 15px;
}

.categoriess, .plann {
    text-align: center; 
    padding: 20px;      
}

.categoriess {
    margin-bottom: 20px;
}

.categoriess h4, .plan h2, .plan-subtext, .plan-sub-text, .type-of-plan-text-1, .type-of-plan-text-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* Footer */
.footer{
    background: #eaebee;
    color: #333;
    height: 500px;
    font-size: 14px;
}

.footer a{
    color: #6e7580;
}

.footer-container{
    max-width:1100px;
    margin:auto;
    padding:50px
}

.footer-lists{
    display: flex;
    justify-content: space-around;
}

 .footer-lists ul li a{
    list-style-type: none;
    text-decoration: none;
}

.footer-lists ul li{
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 10px;

}

.footer-lists .list-head{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.divider{
    width: 100%;
    height: 3px;
    border-top: 1px #ccc solid;
    margin: 40px 0;
}

.social-icons img{
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

.under-social{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 13px;
}

.under-social a{
    text-decoration: none;
}

